
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#cookieBox {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 10px;
    border: 1px solid black;
    z-index: 1000;
}
#content {
    display: none;
}
.login-register-container {
    background-color: red;
    padding: 20px;
    text-align: center;
    width: 100%;
}
.login-register-container .btn {
    width: 150px;
    font-size: 18px;
    font-weight: bold;
}

/* Boutons des réseaux sociaux avec animation */
.social-buttons {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-buttons a {
    display: flex;
    align-items: center;
    background: #007bff;
    color: white;
    padding: 10px;
    border-radius: 20px;
    width: 40px;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    text-decoration: none;
}

.social-buttons a:hover {
    width: 120px;
}

.social-buttons a i {
    margin-right: 10px;
}

/* Style du carrousel */
.carousel-item {
    height: 600px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}